{% extends 'base.html' %}

{% block content %}

    <form method="post" action={% url 'authentication:password_reset_request' %}>
    {% csrf_token %}
    {{ form }}
    <button type="submit">Отправить</button>
{#    {% for err in form.non_field_errors %}#}
{#        <p>err</p>#}
{#    {% endfor %}#}
{#    {% for err in form.errors %}#}
{#        <p>err</p>#}
{#    {% endfor %}#}
    {% if is_good %}
        <p>Письмо на изменение пароля отправленно</p>
    {% endif %}
    </form>


{% endblock %}